* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  max-width: 700px;
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-flow: column;
}

header {
  background-color: aquamarine;
  padding: 1rem 0;
  text-align: center;
}

.AddItem {
  margin: 0.5rem;
  display: flex;
}

.AddItem input {
  flex: 1;
  padding: 0.2rem;
  outline: none;
  border: 1px solid rgb(252, 186, 105);
}

.AddItem button {
  padding: 0.2rem 1rem;
  background-color: bisque;
  border: 1px solid rgb(252, 186, 105);
  outline: none;
}

.AddItem button:hover {
  cursor: pointer;
  background-color: rgb(253, 187, 105);
}
.SearchItem {
  margin: 0 0.5rem;
}

.SearchItem input {
  width: 100%;
  padding: 0.2rem;
  outline: none;
  border: 1px solid rgb(252, 186, 105);
}

main {
  flex-grow: 1;
}

ul {
  padding: 0.5rem;
  list-style: none;
  text-align: left;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}

ul li {
  background-color: bisque;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

li input:checked + label {
  text-decoration: line-through;
}

li button {
  padding: 0.2rem 0.5rem;
  background-color: aliceblue;
  outline: none;
  border: 1px solid bisque;
}

li button:hover {
  cursor: pointer;
  background-color: aquamarine;
}

footer {
  background-color: aquamarine;
  padding: 1rem 0;
  text-align: center;
}

.testForm {
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  margin-inline: auto;
}

.testForm label {
  text-align: left;
}
.testForm input {
  padding: 0.2rem;
  outline: none;
  border: 1px solid rgb(37, 130, 116);
}

.testForm button {
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  background-color: rgb(40, 171, 142);
  border: 1px solid rgb(20, 105, 87);
  outline: none;
}
